.container{
display: flex;
flex-direction: column;
align-items: center;
font-family: "AppleMedium";
height: 100%;
margin-bottom: 2rem;
max-height: 1100px;
}
#title{
    font-family: "AppleRegular";
    color:white;
}

#text{
    font-size: 2.5rem;
    margin-left: 1rem;
    color:#BAE8E8;
    cursor:pointer;
    animation: appear 2s  1 forwards;
}

@keyframes appear{
    from {
        opacity:0;
    }
    to{
        opacity:1;
        color:#BAE8E8;
    }
}
.box{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin:2rem;
    max-width: 1142px;
}

.cardText{
    font-size: 2rem;
    color: white;
    opacity: 0;
    animation: downtoup  1s 1.5s 1 forwards;

}
@keyframes downtoup{
    from{
        opacity:0;
        transform: translateY(2rem);
    }
    to{
        opacity:1;
    }
}
.card{
    height: 9.375rem;
    width: 9.375rem;
    background-color:#FFF4F4;
    border-radius: 0.3rem;
    opacity:0;
    padding:1rem;
    animation: downtoup 1s 1.5s 1 forwards;
    transition: 0.4s;

}
 .card:hover{
    box-shadow: 10px 5px white;
    cursor: pointer;
    color:black;
    background-color:#BAE8E8;
}

.card>a{
    font-size: smaller;
    font-family: "AppleLight";
    text-decoration: none;
    color:black;
}
@media (min-width: 375px) {
    .card:hover {
        box-shadow: none;
        cursor: none;
        background-color:#FFF4F4;
    }
}

