.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
    align-items: center;
    border-radius: 0.3rem;
    gap:2rem;
    flex-wrap: wrap;
    color: white;
}
.container{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    padding:3rem;
}
.label>span{
    font-family: "AppleRegular";
    font-size: larger;
    width:12rem;
}
.title{
    background-color: var(--skin);
    padding:0.75rem;
    border-radius: 0.3rem;
    font-family: "AppleRegular";
    color:var(--black);
    text-align: center;
    transition: 0.3s;
}
.title:hover{
    transform: scale(1.1);
    cursor: none;
}
.form input{
   background-color: transparent;
    color: white;
    font-family: AppleLight;
    padding:0.7rem;
    outline: none;
    border-radius: 1rem;
    border:1px solid black;
    transition: all 0.1s;
    opacity: 1; /* Firefox */
}
.label > input::placeholder{
    color:black;
}
.label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.button{
   font-size: larger;
   width: 20%;
   color:black;
   padding:0.3rem 0rem 0.3rem 0rem;
   text-align: center;
   background-color:rgba(255, 255, 255, 0.553);
   font-family: "AppleMedium";
   border:0.1rem solid white;
   border-radius: 1rem;
   transition-duration:0.3s;
   -webkit-box-shadow: 2px -1px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 2px -1px 19px -5px rgba(0,0,0,0.75);
}
.button:hover{
    cursor:pointer;
    border-color:black;
    color:black;
    -webkit-box-shadow: 4px 4px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 0px 3px rgba(0,0,0,0.75);
}
.error{
    position: absolute;
    color:red;
    font-family: AppleLight;
    font-weight: bolder;
    text-align: center;
    margin-top: 1rem;
    padding:1.3rem;
    border-radius: 0.75rem;
}
.loader{
    position: absolute;
    font-size: 3rem;
    top:50%;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.82);
    background-color: rgba(240, 248, 255, 0.729);
    padding:2rem;
    border-radius: 0.5rem;
}
.inactive{
    display: none;
}

@media (min-width: 375px) {
    .label>span {
        display: none;
    }
    .form input{
        width: 100%;
        border-top:none;
        border-left: none;
        border-radius: 0;
        border-right: none;
    }
    .container{
        justify-content: center;
        align-items: center;
    }
    .button{
        width: 100%;
    }
    .error {
        bottom:10%;
    }
  }