

.header{
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    @media (min-width: 375px) {
        margin-top: 2rem;
      }
}

.options{
    display: flex;
    justify-content: space-around;
   align-items: center;
   width: 40%;
}
#title{
    font-family: "AppleRegular";
    transition:1s;
    color:var(--header);
}

#title:hover{
   color:var(--hover);
    transform:scale(1.3);
}
.options>a{
    font-size: 1.2rem;
    text-decoration: none;
    font-family: "AppleRegular";
    color:var(--header);
    transition: 0.5s;
}
.options>a:hover{
    color:var(--hover);
    transform: scale(1.3);
}